@import "tailwindcss";

/* === FONT: Inter (para texto general) === */
@font-face {
  font-family: "Inter";
  src:
    url("/src/assets/fonts/Inter-Variable.woff2") format("woff2-variations"),
    url("/src/assets/fonts/Inter-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  font-named-instance: "Regular";
}

/* === GLOBAL BODY FONT === */
body {
  font-family: "Inter", sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
